---
//@ts-nocheck
// src/pages/collab.astro

import Layoutcollab from "../layouts/Layoutcollab.astro";
import Card from "../components/Card.astro";
import "../css/style.css";

const url = "https://osewoyyhespmuixqkxpd.supabase.co/rest/v1/products?select=*";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zZXdveXloZXNwbXVpeHFreHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc4MzAsImV4cCI6MjA1OTg0MzgzMH0.UQMULJOt8wEe0LmO9nADOpmbE7EAABe2zNrTuy5JS2o"; // (din key her)

const options = {
  headers: {
    apikey: key,
    Authorization: `Bearer ${key}`,
  },
};

let products = [];

const res = await fetch(url, options);
const data = await res.json();

products = data;
products.sort((a, b) => {
  return a.id - b.id;
});
---

<Layoutcollab>
  <section class="product-section">
    <div class="product-grid">
      {products.map((product) => <Card data={product} />)}
    </div>
  </section>

  <div>
    <img class="collabbillede" src="collabbillede.png" alt="" />
  </div>
</Layoutcollab>

<style>
  .collabbillede {
    width: 100%;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 1rem;
  }

  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
