---
//@ts-nocheck
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import Headline from "../components/Headline.astro";
import InfoCard from "../components/InfoCard.astro";
import Calender from "../components/Calender.astro";
import SignupCard from "../components/SignupCard.astro";
import Submitsucces from "../components/Submitsucces.astro";
import ShopVideo from "../components/ShopVideo.astro";
import "../css/style.css";
import Shopbutton from "../components/Shopbutton.astro";

const url = "https://osewoyyhespmuixqkxpd.supabase.co/rest/v1/products?id=in.(1,2,3)&select=*";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zZXdveXloZXNwbXVpeHFreHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc4MzAsImV4cCI6MjA1OTg0MzgzMH0.UQMULJOt8wEe0LmO9nADOpmbE7EAABe2zNrTuy5JS2o";

const options = {
  headers: {
    apikey: key,
  },
};

let products = [];

const res = await fetch(url, options);
const data = await res.json();

products = data.slice(0, 3);
---

<Layout>
  <HeroSection />
  <InfoCard />

  <InfoCard imageUrl="infotext1.png" title="LIMITED EDITION DROP - KOM MED TIL FESTEN">
    <p>Vi tager festen til et nyt niveau! I samarbejde med Roskilde Festival lancerer vi en eksklusiv kollektion, der indfanger essensen af sommerdage, sene nætter og den der helt særlige festivalfølelse – den, man ikke kan forklare, men kun kan mærke.</p>
    <p>Kollektionen kombinerer Bareens karakteristiske Streetwear med Roskildes ikoniske energi. Du kan forvente vilde styles og stærke detaljer – men som altid… der er begrænset antal, så det gælder om at være hurtig.</p>
    <p>Bareen x Roskilde Festival er mere end bare tøj – det er en hel oplevelse. Vi er til stede midt på festivalpladsen med vores Bareen Basecamp, hvor du kan prøve hele kollektionen, finde dine festival-essentials samt deltage i vores Social Run og daglige events med masser af fed energi. Oplev samarbejdet. Mærk energien. Find os på Roskilde.</p>
  </InfoCard>

  <Shopbutton />

  <section class="product-section">
    <div class="product-grid">
      {products.map((product) => <Card data={product} />)}
    </div>
  </section>

  <InfoCard imageUrl="textcard2.png" title="Mød os på Roskilde Festival">
    <p>Bareen rykker ind på festivalpladsen med en pop-up shop og et univers fyldt med liv, energi og fede aktiviteter.</p>
    <p>Udover kollektionen kan du hver dag opleve events, der samler fællesskabet og sætter gang i kroppen – fra Social Runs til styling sessions, bare en frokost og chill vibes i Basecamp.</p>
    <p>Sammen med Good Habit Co. sørger vi for kolde elektrolyt-drinks, så du holder dig frisk hele vejen gennem festivalen.</p>
    <p>Tjek vores eventkalender for bareen x RF herunder, og hold dig opdateret på alt der sker i Bareen Basecamp.</p>
  </InfoCard>

  <Headline />
  <Calender />

  <InfoCard imageUrl="popupshop.png" title="Få eksklusivt adgang før alle andre">
    <p>Festivalsstemningen rammer snart, og med Bareen x Roskilde får du adgang til en limited edition-kollektion, men kun de hurtigste får adgang først.</p>
    <p>Ved at signe op får du eksklusivt early access til kollektionen, før den bliver officelt lanceret. Det betyder, at du kan sikre dig dine favoritter, inden de rammer shoppen - og som altid gælder det: Når de er væk, er de væk.</p>
    <p>Du kan forvente klassiske Bareen-styles med et festivalstwist - perfekt til lange sommerdage og sene nætter.</p>
  </InfoCard>

  <SignupCard />
  <Submitsucces />
  <ShopVideo />
</Layout>

<style>
  @media (min-width: 600px) {
    .product-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 13px;
      width: 97%;
      margin-inline: 0.3rem;
    }
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 1rem;
  }

  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
