<div class="calender">
<img src="caonsdag.png" alt="">
<img src="catorsdag.png" alt="">
<img src="cafredag.png" alt="">
<img src="calørdag.png" alt="">
</div>

<style>
.calender{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 1.5rem;

}
</style>