---
const { title, text, imageUrl}  = Astro.props;

// Hvis text er undefined, giv den en tom streng som standard
const textLines = (text || "").split("\n");
---

<section class="info-section">
  <div class="info-text">
    <h2>{title}</h2>
    <!-- Map over linjerne og generer et p-tag for hver linje -->
    {textLines.map(line => (
      <p>{line}</p>
    ))}
  </div>

  <div class="info-image">
    <img src={imageUrl} alt="" />
  </div>
</section>



<style>
.info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  align-items: center;
}
.info-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .info-section {
    grid-template-columns: 1fr;
  }

  .info-image {
    margin-top: 2rem;
  }
}
</style>








