---
import { FaSearch, FaHeart, FaShoppingCart } from 'react-icons/fa';
---

<header class="header">
  <nav class="nav">
    <ul class="nav-left">
      <li><a href="#">HERRE</a></li>
      <li><a href="#">DAME</a></li>
      <li><a href="#">SPORT</a></li>
      <li><a href="#">COMMUNITY</a></li>
      <li><a href="/collab">COLLABS</a></li>
    </ul>

    <div class="logo">
        <a href="/"> <img src="bareenlogo.png" alt="logo"></a>
    </div>

    <ul class="nav-right">
      <li><a href="#">CLUB</a></li>
      <li><a href="#">LOG IND</a></li>
      <li><img src="flag.png" alt="Flag" rounded-full object-cover></li>
      <li><FaSearch size={18} /></li>
      <li><FaHeart size={18} /></li>
      <li><FaShoppingCart size={18} /></li>
    </ul>

  </nav>
</header>




<style>
.header {
  /* width: 100%; */
  padding: 1.5rem;
  background: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-left li,
.nav-right li {
  list-style: none;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: black;
}

.logo a {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.flag {
  font-size: 1.2rem;
}
</style>