---
import Button from "./Button.astro";
---

<div class="shopnu">
  <img src="shopnu.png" alt="" />
  <div class="button-wrapper">
    <Button />
  </div>
</div>

<style>
  .shopnu {
    position: relative;
    display: inline-block;
    margin-top: 3rem;
  }

  .shopnu img {
    display: block;
    width: 100%;
    height: auto;
  }

  .button-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
</style>
