---
import Button from "./Button.astro"
---
<div class="shopnu">
  <img src="shopnu.png" alt="">
  <div class="button-wrapper">
    <Button />
  </div>
</div>

<style>
  .shopnu {
    position: relative; /* Gør det muligt at placere ting absolut inde i her */
    display: inline-block; /* Så den kun er så stor som billedet */
    margin-top: 3rem
  }

  .shopnu img {
    display: block;
    width: 100%; /* Sørg for billedet fylder containeren */
    height: auto;
  }

  .button-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
</style>