---

---
  <!-- <div class="textfelt">
        <input class="input" type="text" placeholder="Email" name="usrnm">
        <button class="send">SIGN UP</button>
  </div> -->

<div class="textfelt">
    <input class="input" type="text" placeholder="Email" name="usrnm">
    <button class="send" onclick="openPopup()">SIGN UP</button>
</div>

<style>
    .textfelt{
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.send{
    padding: 17px;
  background: #EF700E;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input{
      width: 16%;
  padding: 15px;
  outline: none;
}
button{
border: none;
}
 
</style>