---
import SignupForm from "./SignupForm.astro";
---
<h3>Vil du være blandt de første til at få fingrene i kollektionen? <br>
Sign up nu og få adgang før alle andre!</h3>
<SignupForm />

<style>
    h3{
        text-align: center;
    }
</style>