---
import SignupForm from "./SignupForm.astro";
---

<h2>
  Vil du være blandt de første til at få fingrene i kollektionen? <br />
  Sign up til nyhedsbrev nu og få adgang før alle andre!
</h2>
<SignupForm />

<style>
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
